.about-cards{
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.about_card{
    background: var(--bgcolorvar);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about_card:hover{
    background: transparent;
    border-color: var(--bgcolorprimvar);
    ;
    cursor: default;
}

.expert-content{
}