.about__cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.about__card{
    background: var(--bgcolorvar);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about__card:hover{
    background: transparent;
    border-color: var(--bgcolorprimvar);
    ;
    cursor: default;
}

@media screen and (max-width: 1024px){
    .about__cards{
        grid-template-columns: 1fr;

    }
    .about_content{
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 600px){
    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about_content{
        text-align: center;
    }
}
    
    